@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html, body, main {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.color1 {
  background-color: #E74C3C;
}

.color1 .quoteBox {
  padding: 2em;
  width: 35em;
  height: auto;
  border-radius: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #E74C3C;
  background-color: white;
}

.color1 .quoteBox .phraseText {
  text-align: center;
  padding-bottom: 1em;
  font-size: 30px;
}

.color1 .quoteBox .authorText {
  text-align: right;
  padding-bottom: 1em;
  font-size: 20px;
}

.color1 .quoteBox .buttonsPlacement {
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.color1 .quoteBox .buttonsPlacement .buttonStyle {
  text-decoration: none;
  background-color: #E74C3C;
  padding: 0.5em 0.6em;
  border-radius: 3px;
  border: #E74C3C;
  outline: none;
  color: white;
  font-size: 20px;
}

.color1 .quoteBox .buttonsPlacement .buttonStyle:hover {
  opacity: 75%;
}

.color2 {
  background-color: #5499C7;
}

.color2 .quoteBox {
  padding: 2em;
  width: 35em;
  height: auto;
  border-radius: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #5499C7;
  background-color: white;
}

.color2 .quoteBox .phraseText {
  text-align: center;
  padding-bottom: 1em;
  font-size: 30px;
}

.color2 .quoteBox .authorText {
  text-align: right;
  padding-bottom: 1em;
  font-size: 20px;
}

.color2 .quoteBox .buttonsPlacement {
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.color2 .quoteBox .buttonsPlacement .buttonStyle {
  text-decoration: none;
  background-color: #5499C7;
  padding: 0.5em 0.6em;
  border-radius: 3px;
  border: #5499C7;
  outline: none;
  color: white;
  font-size: 20px;
}

.color2 .quoteBox .buttonsPlacement .buttonStyle:hover {
  opacity: 75%;
}

.color3 {
  background-color: #73C6B6;
}

.color3 .quoteBox {
  padding: 2em;
  width: 35em;
  height: auto;
  border-radius: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #73C6B6;
  background-color: white;
}

.color3 .quoteBox .phraseText {
  text-align: center;
  padding-bottom: 1em;
  font-size: 30px;
}

.color3 .quoteBox .authorText {
  text-align: right;
  padding-bottom: 1em;
  font-size: 20px;
}

.color3 .quoteBox .buttonsPlacement {
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.color3 .quoteBox .buttonsPlacement .buttonStyle {
  text-decoration: none;
  background-color: #73C6B6;
  padding: 0.5em 0.6em;
  border-radius: 3px;
  border: #73C6B6;
  outline: none;
  color: white;
  font-size: 20px;
}

.color3 .quoteBox .buttonsPlacement .buttonStyle:hover {
  opacity: 75%;
}

.color4 {
  background-color: #F4D03F;
}

.color4 .quoteBox {
  padding: 2em;
  width: 35em;
  height: auto;
  border-radius: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #F4D03F;
  background-color: white;
}

.color4 .quoteBox .phraseText {
  text-align: center;
  padding-bottom: 1em;
  font-size: 30px;
}

.color4 .quoteBox .authorText {
  text-align: right;
  padding-bottom: 1em;
  font-size: 20px;
}

.color4 .quoteBox .buttonsPlacement {
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.color4 .quoteBox .buttonsPlacement .buttonStyle {
  text-decoration: none;
  background-color: #F4D03F;
  padding: 0.5em 0.6em;
  border-radius: 3px;
  border: #F4D03F;
  outline: none;
  color: white;
  font-size: 20px;
}

.color4 .quoteBox .buttonsPlacement .buttonStyle:hover {
  opacity: 75%;
}

.color5 {
  background-color: #F5B041;
}

.color5 .quoteBox {
  padding: 2em;
  width: 35em;
  height: auto;
  border-radius: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #F5B041;
  background-color: white;
}

.color5 .quoteBox .phraseText {
  text-align: center;
  padding-bottom: 1em;
  font-size: 30px;
}

.color5 .quoteBox .authorText {
  text-align: right;
  padding-bottom: 1em;
  font-size: 20px;
}

.color5 .quoteBox .buttonsPlacement {
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.color5 .quoteBox .buttonsPlacement .buttonStyle {
  text-decoration: none;
  background-color: #F5B041;
  padding: 0.5em 0.6em;
  border-radius: 3px;
  border: #F5B041;
  outline: none;
  color: white;
  font-size: 20px;
}

.color5 .quoteBox .buttonsPlacement .buttonStyle:hover {
  opacity: 75%;
}

.title {
  color: white;
  margin-bottom: 1.5em;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  -webkit-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 200ms linear 200ms;
  transition: opacity 200ms linear 200ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  display: none;
}

.fade-exit-done {
  opacity: 0;
}
/*# sourceMappingURL=App.css.map */