@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

$base-color: ("1":#E74C3C,"2": #5499C7, 3:#73C6B6 , 4:#F4D03F  , 5:#F5B041 );

* {
    margin: 0;
    padding: 0;
}

html, body, main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

@each $i, $color in $base-color{
    .color#{$i} {
        background-color: $color;
        transition: background-color 500ms linear;
        .quoteBox {
            padding: 2em;
            width: 35em;
            height: auto;
            border-radius: 1%;
            display: flex;
            flex-direction: column;
            color: $color;
            background-color: white;
            box-shadow: 9px 8px 5px 4px rgba(0, 0, 0, 0.2);
            .phraseText{
                text-align: center;
                padding-bottom: 1em;
                font-size: 30px;
            }
            .authorText{
                text-align: right;
                padding-bottom: 1em;
                font-size: 20px;
            }
            .buttonsPlacement{
                padding: 1em 0;
                display: flex;
                justify-content: space-around;
                .buttonStyle{
                    text-decoration: none;
                    background-color: $color;
                    padding: 0.5em 0.6em;
                    border-radius: 3px;
                    border: $color;
                    outline: none;
                    color: white;
                    font-size: 20px;
                }
                .buttonStyle:hover{
                    opacity: 75%;
                }
            }
        }
    }
}

.title{
    color: white;
    margin-bottom: 1.5em;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 100ms linear;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  display: none;
}

.fade-exit-done {
  opacity: 0;
}
