@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html, body, main {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.color1 {
  background-color: red;
}

.color1 .quoteBox {
  width: 35em;
  height: 15em;
  border-radius: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: red;
  background-color: white;
}

.color1 .quoteBox .phraseText {
  text-align: center;
}

.color1 .quoteBox .button {
  background-color: red;
  color: white;
}

.color2 {
  background-color: blue;
}

.color2 .quoteBox {
  width: 35em;
  height: 15em;
  border-radius: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: blue;
  background-color: white;
}

.color2 .quoteBox .phraseText {
  text-align: center;
}

.color2 .quoteBox .button {
  background-color: red;
  color: white;
}

.color3 {
  background-color: green;
}

.color3 .quoteBox {
  width: 35em;
  height: 15em;
  border-radius: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: green;
  background-color: white;
}

.color3 .quoteBox .phraseText {
  text-align: center;
}

.color3 .quoteBox .button {
  background-color: red;
  color: white;
}

.color4 {
  background-color: yellow;
}

.color4 .quoteBox {
  width: 35em;
  height: 15em;
  border-radius: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: yellow;
  background-color: white;
}

.color4 .quoteBox .phraseText {
  text-align: center;
}

.color4 .quoteBox .button {
  background-color: red;
  color: white;
}

.color5 {
  background-color: orange;
}

.color5 .quoteBox {
  width: 35em;
  height: 15em;
  border-radius: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: orange;
  background-color: white;
}

.color5 .quoteBox .phraseText {
  text-align: center;
}

.color5 .quoteBox .button {
  background-color: red;
  color: white;
}

.title {
  color: white;
  margin-bottom: 2em;
}
/*# sourceMappingURL=App.css.map */